includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - app
        - modules
    tmpDir: storage/framework/phpstan
    reportUnmatchedIgnoredErrors: true
